<ion-header>
  <ion-title>{{recipe.title}}</ion-title>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>healthScore: {{recipe.healthScore}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Users Score: {{recipe.spoonacularScore}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Is vegetarian?: {{recipe.vegetarian}} </ion-label>
    </ion-item>
  </ion-list>
  <h5>Ingredients</h5>
  <ion-grid *ngFor="let ingredient of recipe.extendedIngredients">
    <ion-row>
      <ion-col> -{{ingredient.name}}</ion-col>
      <ion-col> {{ingredient.original}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button (click)="handleDismissModal()">Close</ion-button>
</ion-footer>