.app-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.app-box ion-img {
    width: 300px;
    height: 300px;
    
}
p {
    text-align: center;
    margin: 50px 10px;
    font-style: italic;
    font-size: 100%;
}

