<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Call your chef friend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="app-box">
    <ion-img src="https://images.assetsdelivery.com/compings_v2/dolgachov/dolgachov1707/dolgachov170702347.jpg" alt="calling chef">
    </ion-img>
  </div>
  <p >"Tap on the call button to call that friend who really knows how to cook, and get the best advices"</p>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="handleCallNumber()">Call</ion-button>
</ion-footer>