<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <div class="app-timer-box">
    <div>
      <ion-item>
        <ion-label position="fixed">How long?</ion-label>
        <ion-input color="blue" type="number" [(ngModel)]="timeLeft"></ion-input>
      </ion-item>
      <ion-button (click)='startTimer()'>Start Timer</ion-button>
      <ion-button color="danger" (click)='pauseTimer()'>Pause</ion-button>
      <p>{{timeLeft}} Seconds Left....</p>
    </div>
  </div>
</ion-content>
